dashboard.json
[
   {
      "id":"4504c73f.17aa38",
      "type":"tab",
      "label":"Dashboard",
      "disabled":false,
      "info":""
   },
   {
      "id":"61958e05.709e4",
      "type":"ui_switch",
      "z":"4504c73f.17aa38",
      "name":"",
      "label":"Acender o LED",
      "tooltip":"",
      "group":"d1c244.13d3a5c",
      "order":1,
      "width":0,
      "height":0,
      "passthru":true,
      "decouple":"false",
      "topic":"",
      "style":"",
      "onvalue":"true",
      "onvalueType":"bool",
      "onicon":"",
      "oncolor":"",
      "offvalue":"false",
      "offvalueType":"bool",
      "officon":"",
      "offcolor":"",
      "x":120,
      "y":240,
      "wires":[
         [
            "47775854.ddcc18"
         ]
      ]
   },
   {
      "id":"8d9be25e.dc403",
      "type":"inject",
      "z":"4504c73f.17aa38",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":100,
      "y":40,
      "wires":[
         [
            "7d3f101b.12e32"
         ]
      ]
   },
   {
      "id":"dd024e62.3ba5e",
      "type":"switch",
      "z":"4504c73f.17aa38",
      "name":"",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"false"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":370,
      "y":20,
      "wires":[
         [
            "f13677f0.4b06a8"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"602de662.089658",
      "type":"ui_toast",
      "z":"4504c73f.17aa38",
      "position":"top right",
      "displayTime":"5",
      "highlight":"",
      "sendall":true,
      "outputs":0,
      "ok":"OK",
      "cancel":"",
      "raw":false,
      "topic":"Temperatura",
      "name":"Notification LED HIGH",
      "x":740,
      "y":20,
      "wires":[
         
      ],
      "info":"<p>Temperatura alta</p>"
   },
   {
      "id":"105adf5b.d9f8c1",
      "type":"function",
      "z":"4504c73f.17aa38",
      "name":"",
      "func":"if (msg.payload >= 25) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":280,
      "y":120,
      "wires":[
         [
            "395e1006.f32ce",
            "a4c503b6.3424f",
            "dd024e62.3ba5e"
         ]
      ]
   },
   {
      "id":"7d3f101b.12e32",
      "type":"random",
      "z":"4504c73f.17aa38",
      "name":"",
      "low":"1",
      "high":"30",
      "inte":"true",
      "property":"payload",
      "x":220,
      "y":80,
      "wires":[
         [
            "105adf5b.d9f8c1",
            "6997a03d.06113"
         ]
      ]
   },
   {
      "id":"47775854.ddcc18",
      "type":"ui_led",
      "z":"4504c73f.17aa38",
      "group":"d1c244.13d3a5c",
      "order":0,
      "width":"0",
      "height":"0",
      "label":"LED 3",
      "labelPlacement":"left",
      "labelAlignment":"left",
      "colorForValue":[
         {
            "color":"grey",
            "value":"false",
            "valueType":"bool"
         },
         {
            "color":"red",
            "value":"true",
            "valueType":"bool"
         }
      ],
      "allowColorForValueInMessage":false,
      "name":"L3",
      "x":370,
      "y":240,
      "wires":[
         
      ]
   },
   {
      "id":"395e1006.f32ce",
      "type":"ui_led",
      "z":"4504c73f.17aa38",
      "group":"af591a92.3db1d8",
      "order":0,
      "width":0,
      "height":0,
      "label":"Temperatura alta",
      "labelPlacement":"left",
      "labelAlignment":"left",
      "colorForValue":[
         {
            "color":"red",
            "value":"true",
            "valueType":"bool"
         },
         {
            "color":"grey",
            "value":"false",
            "valueType":"bool"
         }
      ],
      "allowColorForValueInMessage":false,
      "name":"L1",
      "x":510,
      "y":100,
      "wires":[
         
      ]
   },
   {
      "id":"a4c503b6.3424f",
      "type":"ui_led",
      "z":"4504c73f.17aa38",
      "group":"af591a92.3db1d8",
      "order":4,
      "width":0,
      "height":0,
      "label":"Temperatura Baixa",
      "labelPlacement":"left",
      "labelAlignment":"left",
      "colorForValue":[
         {
            "color":"grey",
            "value":"true",
            "valueType":"bool"
         },
         {
            "color":"green",
            "value":"false",
            "valueType":"bool"
         }
      ],
      "allowColorForValueInMessage":false,
      "name":"L2",
      "x":490,
      "y":160,
      "wires":[
         
      ]
   },
   {
      "id":"202bd97c.40dc76",
      "type":"mqtt in",
      "z":"4504c73f.17aa38",
      "name":"",
      "topic":"house:control:door",
      "qos":"2",
      "datatype":"utf8",
      "broker":"3c7873ad.0f3d8c",
      "x":110,
      "y":320,
      "wires":[
         [
            "6b7570af.ab9bc",
            "e8a97f3c.9a55"
         ]
      ]
   },
   {
      "id":"1cd53f31.5a79c1",
      "type":"ui_toast",
      "z":"4504c73f.17aa38",
      "position":"top right",
      "displayTime":"3",
      "highlight":"",
      "sendall":true,
      "outputs":0,
      "ok":"OK",
      "cancel":"",
      "raw":false,
      "topic":"Porta A1",
      "name":"",
      "x":730,
      "y":280,
      "wires":[
         
      ]
   },
   {
      "id":"6b7570af.ab9bc",
      "type":"function",
      "z":"4504c73f.17aa38",
      "name":"",
      "func":"\nif (msg.payload == \"true\") {\n    msg.payload = \"Aberta\"\n} else {\n    msg.payload = 'Fechada'\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":660,
      "y":380,
      "wires":[
         [
            "1cd53f31.5a79c1"
         ]
      ]
   },
   {
      "id":"6997a03d.06113",
      "type":"debug",
      "z":"4504c73f.17aa38",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "targetType":"msg",
      "statusVal":"",
      "statusType":"auto",
      "x":160,
      "y":180,
      "wires":[
         
      ]
   },
   {
      "id":"f13677f0.4b06a8",
      "type":"function",
      "z":"4504c73f.17aa38",
      "name":"",
      "func":"msg.payload = \"Temperatura acima de 25 !\"\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":540,
      "y":20,
      "wires":[
         [
            "602de662.089658"
         ]
      ]
   },
   {
      "id":"e8a97f3c.9a55",
      "type":"ui_led",
      "z":"4504c73f.17aa38",
      "group":"f369469b.f0d918",
      "order":4,
      "width":"0",
      "height":"0",
      "label":"Porta remota",
      "labelPlacement":"left",
      "labelAlignment":"left",
      "colorForValue":[
         {
            "color":"green",
            "value":"true",
            "valueType":"str"
         },
         {
            "color":"grey",
            "value":"false",
            "valueType":"str"
         }
      ],
      "allowColorForValueInMessage":false,
      "name":"L3",
      "x":350,
      "y":340,
      "wires":[
         
      ]
   },
   {
      "id":"ec450686.032c58",
      "type":"mqtt out",
      "z":"4504c73f.17aa38",
      "name":"",
      "topic":"house:control:door",
      "qos":"0",
      "retain":"",
      "broker":"6a63db89.8eeaf4",
      "x":310,
      "y":420,
      "wires":[
         
      ]
   },
   {
      "id":"37512b45.08be64",
      "type":"ui_button",
      "z":"4504c73f.17aa38",
      "name":"",
      "group":"f369469b.f0d918",
      "order":1,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Abrir porta",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"true",
      "payloadType":"str",
      "topic":"",
      "x":90,
      "y":400,
      "wires":[
         [
            "ec450686.032c58"
         ]
      ]
   },
   {
      "id":"3856cbc7.4cc034",
      "type":"ui_button",
      "z":"4504c73f.17aa38",
      "name":"",
      "group":"f369469b.f0d918",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Fechar porta",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"false",
      "payloadType":"str",
      "topic":"",
      "x":90,
      "y":440,
      "wires":[
         [
            "ec450686.032c58"
         ]
      ]
   },
   {
      "id":"27e3cb2f.12ebd4",
      "type":"ui_slider",
      "z":"4504c73f.17aa38",
      "name":"",
      "label":"Distância porta",
      "tooltip":"",
      "group":"55167603.5465e8",
      "order":4,
      "width":0,
      "height":0,
      "passthru":true,
      "outs":"all",
      "topic":"",
      "min":0,
      "max":10,
      "step":1,
      "x":100,
      "y":540,
      "wires":[
         [
            "31cf03ba.03f29c"
         ]
      ]
   },
   {
      "id":"61cf784f.bd9ad8",
      "type":"ui_led",
      "z":"4504c73f.17aa38",
      "group":"55167603.5465e8",
      "order":4,
      "width":"0",
      "height":"0",
      "label":"Porta por presença",
      "labelPlacement":"left",
      "labelAlignment":"left",
      "colorForValue":[
         {
            "color":"green",
            "value":"true",
            "valueType":"str"
         },
         {
            "color":"grey",
            "value":"false",
            "valueType":"str"
         }
      ],
      "allowColorForValueInMessage":false,
      "name":"L3",
      "x":550,
      "y":540,
      "wires":[
         
      ]
   },
   {
      "id":"31cf03ba.03f29c",
      "type":"function",
      "z":"4504c73f.17aa38",
      "name":"",
      "func":"\nmsg.payload = msg.payload >= 6? 'true' : 'false';\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":340,
      "y":540,
      "wires":[
         [
            "6b7570af.ab9bc",
            "61cf784f.bd9ad8"
         ]
      ]
   },
   {
      "id":"d1c244.13d3a5c",
      "type":"ui_group",
      "name":"Ambiente 02",
      "tab":"3d4c8df3.924f02",
      "order":3,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"af591a92.3db1d8",
      "type":"ui_group",
      "name":" Ambiente 01",
      "tab":"ec201379.3e43c",
      "order":1,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"3c7873ad.0f3d8c",
      "type":"mqtt-broker",
      "name":"",
      "broker":"broker.emqx.io",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":false,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   },
   {
      "id":"f369469b.f0d918",
      "type":"ui_group",
      "name":"Porta remota",
      "tab":"3d4c8df3.924f02",
      "order":1,
      "disp":true,
      "width":"12",
      "collapse":false
   },
   {
      "id":"6a63db89.8eeaf4",
      "type":"mqtt-broker",
      "name":"",
      "broker":"broker.emqx.io",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":false,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   },
   {
      "id":"55167603.5465e8",
      "type":"ui_group",
      "name":"Porta por presença",
      "tab":"3d4c8df3.924f02",
      "order":4,
      "disp":true,
      "width":"12",
      "collapse":false
   },
   {
      "id":"3d4c8df3.924f02",
      "type":"ui_tab",
      "name":"Home",
      "icon":"dashboard",
      "order":1,
      "disabled":false,
      "hidden":false
   },
   {
      "id":"ec201379.3e43c",
      "type":"ui_tab",
      "name":"Monitoramento",
      "icon":"dashboard",
      "order":4,
      "disabled":false,
      "hidden":false
   }
]
